#sidebar {
    .header-wrapper {
        color: #000000DE;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.027px;

    }
}