


<router-outlet></router-outlet>
<div id="toast">
    <p-toast key="c" position="top-center" styleClass="custom-toast">
        <ng-template let-message pTemplate="message">
            <div class="toast-wrapper">
                <ng-container *ngIf="message.severity == 'success'">
                </ng-container>
                <ng-container *ngIf="message.severity == 'error'">
                </ng-container>
                <span class="message">{{message.detail}}</span>
            </div>
        </ng-template>
    </p-toast>
</div>




<!-- notes------------------------------------------------ (  children(layout) [routing path]) -->


<!-- side bar  <html>  (add ts file form group Name and controller Name,visble variable ) -->

<!-- <div id="sidebar">
    <p-sidebar [(visible)]="formpage" position="right" [style]="{width:'25%'}" (onHide)="cancel()"
        [dismissible]="false" [closeOnEscape]="false">
        <ng-template pTemplate="header">
            <div *ngIf="true" class="header-wrapper">
                Add User
            </div>
            <div *ngIf="false" class="header-wrapper">
               Update User
            </div>
        </ng-template>

        <ng-template pTemplate="content">
            <div class="content-wrapper">
                <form action="" [formGroup]="form">
                    <div class="textinput">
                        <label class="lable" htmlFor="username">Username</label>
                        <input pInputText id="username" placeholder="Enter User Name" formControlName='userName'
                            aria-describedby="username-help" />
                        <div class="error-indicator" *ngIf="
                            usercontrole['userName'].invalid &&
                            (usercontrole['userName'].dirty ||
                            usercontrole['userName'].touched)">
                            <span class="error-type" *ngIf="usercontrole['userName'].errors?.['required']">
                                User name is required
                            </span>
        
                        </div>
                    </div>
        
                    <div class="textinput">
                        <label class="lable" htmlFor="date">Date Of Birth</label>
                        <p-calendar id="date" appendTo="body" formControlName="DOB" dateFormat="mm/dd/yy" [readonlyInput]="true"
                            [showTime]="false" [showSeconds]="false" placeholder="Enter Date Of birth"></p-calendar>
                        <div class="error-indicator" *ngIf="
                            usercontrole['DOB'].invalid &&
                            (usercontrole['DOB'].dirty ||
                            usercontrole['DOB'].touched)">
                            <span class="error-type" *ngIf="usercontrole['DOB'].errors?.['required']">
                                Date of birth is required
                            </span>
                        </div>
                    </div>
        
                    <div class="textinput">
                        <label class="lable" htmlFor="phnumber">Mobile Number</label>
                        <input pInputText id="phnumber" placeholder="Enter Phone Number" aria-describedby="username-help"
                            formControlName="phNumber" />
                        <div class="error-indicator" *ngIf="
                            usercontrole['phNumber'].invalid &&
                            (usercontrole['phNumber'].dirty ||
                            usercontrole['phNumber'].touched)">
                            <span class="error-type" *ngIf="usercontrole['phNumber'].errors?.['required']">
                                Mobile number is required
                            </span>
                        </div>
                    </div>
        
                    <div class="textinput">
                        <label class="lable" htmlFor="g">Gender</label>
                        <p-dropdown id="g" [options]="gender" optionLabel="name" [showClear]="true"
                            placeholder="Select a Gender" formControlName="gender"></p-dropdown>
                        <div class="error-indicator" *ngIf="
                            usercontrole['gender'].invalid &&
                            (usercontrole['gender'].dirty ||
                            usercontrole['gender'].touched)">
                            <span class="error-type" *ngIf="usercontrole['gender'].errors?.['required']">
                                Mobile number is required
                            </span>
                        </div>
                    </div>
        
                    <div class="textinput">
                        <label class="lable" htmlFor="text">Address</label>
                        <textarea id="text" rows="5" cols="30" pInputTextarea [autoResize]="false"
                            formControlName="add"></textarea>
                        <div class="error-indicatortext" *ngIf="
                            usercontrole['add'].invalid &&
                            (usercontrole['add'].dirty ||
                            usercontrole['add'].touched)">
                            <span class="error-type" *ngIf="usercontrole['add'].errors?.['required']">
                                Addressis required
                            </span>
                        </div>  
                    </div>
    
                </form>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="btn-wrapper">
                <p-button class="upload-btn" (click)="cancel()" >cancle</p-button>
                <p-button *ngIf="true" class="add-btn" label="Submit" (onClick)="submit()" ></p-button>
                <p-button *ngIf="false" class="add-btn" label="update" (onClick)="update()" >Update</p-button>
            </div>
        </ng-template>
    </p-sidebar>
</div> -->

<!-- narmal  scss -->

<!-- #sidebar {
    .header-wrapper {
        color: #000000DE;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.027px;

    } -->
    <!-- style.scss -->

    <!-- .p-dialog {
    min-width: 520px !important;
    box-shadow: none !important;
    .p-dialog-header {
        padding: 11px 24px !important;
        color: rgba(0, 0, 0, 0.65) !important;
        background: #fff !important;
        border-bottom: 1px solid #e8e8e8 !important;
        border-radius: 4px 4px 0 0 !important;
        min-height: 55px !important;
      .p-dialog-title {
        color: rgba(0, 0, 0, 0.85) !important;
        font-weight: 500 !important;
        font-size: 16px !important;
        line-height: 22px !important;
        word-wrap: break-word !important;
      }
    }
  
    .p-dialog-content {
        padding: 24px !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        color: #495057 !important;
        line-height: 1.5 !important;
        word-wrap: break-word !important;
  
      .p-confirm-dialog-message {
        margin-left: 0px !important;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #242424;
        margin-bottom: 14px !important;
      }
    }
  
    .p-dialog-footer {
      padding: 10px 16px !important;
      text-align: right !important;
      border-top: 1px solid #e8e8e8 !important;
      border-radius: 0 0 4px 4px !important;
  
      .ant-normal {
        line-height: 1.499 !important;
        position: relative !important;
        display: inline-block !important;
        font-weight: 400 !important;
        white-space: nowrap !important;
        text-align: center !important;
        background-image: none !important;
        border: 1px solid transparent !important;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015) !important;
        cursor: pointer !important;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
        touch-action: manipulation !important;
        height: 32px !important;
        padding: 0 15px !important;
        font-size: 14px !important;
        border-radius: 4px !important;
        color: rgba(0, 0, 0, 0.65) !important;
        background-color: #fff !important;
        border-color: #d9d9d9 !important;
  
        &:hover {
          filter: brightness(1.1);
        }
      }
  
      .ant-accept {
        margin-left: 8px;
        color: #fff !important;
        background-color: #1890ff !important;
        border-color: #1890ff !important;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) !important;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045) !important;
      }
    }
  
    .pi-exclamation-triangle:before {
      display: none;
    }
  
    .p-dialog .p-dialog-footer button {
      margin: 0px !important;
    }
  }



  #sidebar{
    .p-sidebar-header{
      background: #fafafa;
      padding: 16px 24px !important;
      color: #000000D9 !important;
      border-bottom: 1px solid #e8e8e8;
      font-size: 18px;
      font-weight: 500;
    }
    .p-sidebar-content{
        padding: 24px !important;
        font-weight: 400;
    }
    .p-sidebar-footer{
        width: 100%;
        border-top: 1px solid rgb(233, 233, 233);
        padding: 10px 16px !important;
        background: rgb(244, 244, 244);
        z-index: 1;
        .btn-wrapper{
            display: flex;
            gap: 30px;
            justify-content: flex-end;;
        }
    }
} -->
<!-- End--------------------------------------------------------- -->

<!-- ConfirmationDialog (add ts file visble varable and form Hide() )  -->

<!-- <p-confirmDialog #cd icon="pi pi-exclamation-triangle" [visible]="confirmdialodvisible">
    <ng-template pTemplate="footer">
        <button type="button" class="ant-normal" pButton  label="Cancel" (click)="cd.reject()"></button>
        <button type="button" class="ant-normal ant-accept" pButton  label="OK"  (click)="deletefunction(cd)"></button>
    </ng-template>
  </p-confirmDialog> -->


  <!-- Tost message -->

  <!-- step 1: private  utility:UtilityserviceService
       step 2: this.utility.errorToast(res.message) or 
               this.utility.successToast(res.message) -->


