


<router-outlet></router-outlet>
<div id="toast">
    <p-toast key="c" position="top-center" styleClass="custom-toast">
        <ng-template let-message pTemplate="message">
            <div class="toast-wrapper">
                <ng-container *ngIf="message.severity == 'success'">
                </ng-container>
                <ng-container *ngIf="message.severity == 'error'">
                </ng-container>
                <span class="message">{{message.detail}}</span>
            </div>
        </ng-template>
    </p-toast>
</div>