/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

.p-dialog {
    min-width: 520px !important;
    box-shadow: none !important;
    .p-dialog-header {
        padding: 11px 24px !important;
        color: rgba(0, 0, 0, 0.65) !important;
        background: #fff !important;
        border-bottom: 1px solid #e8e8e8 !important;
        border-radius: 4px 4px 0 0 !important;
        min-height: 55px !important;
      .p-dialog-title {
        color: rgba(0, 0, 0, 0.85) !important;
        font-weight: 500 !important;
        font-size: 16px !important;
        line-height: 22px !important;
        word-wrap: break-word !important;
      }
    }
  
    .p-dialog-content {
        padding: 24px !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        color: #495057 !important;
        line-height: 1.5 !important;
        word-wrap: break-word !important;
  
      .p-confirm-dialog-message {
        margin-left: 0px !important;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #242424;
        margin-bottom: 14px !important;
      }
    }
  
    .p-dialog-footer {
      padding: 10px 16px !important;
      text-align: right !important;
      border-top: 1px solid #e8e8e8 !important;
      border-radius: 0 0 4px 4px !important;
  
      .ant-normal {
        line-height: 1.499 !important;
        position: relative !important;
        display: inline-block !important;
        font-weight: 400 !important;
        white-space: nowrap !important;
        text-align: center !important;
        background-image: none !important;
        border: 1px solid transparent !important;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015) !important;
        cursor: pointer !important;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
        touch-action: manipulation !important;
        height: 32px !important;
        padding: 0 15px !important;
        font-size: 14px !important;
        border-radius: 4px !important;
        color: rgba(0, 0, 0, 0.65) !important;
        background-color: #fff !important;
        border-color: #d9d9d9 !important;
  
        &:hover {
          filter: brightness(1.1);
        }
      }
  
      .ant-accept {
        margin-left: 8px;
        color: #fff !important;
        background-color: #1890ff !important;
        border-color: #1890ff !important;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) !important;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045) !important;
      }
    }
  
    .pi-exclamation-triangle:before {
      display: none;
    }
  
    .p-dialog .p-dialog-footer button {
      margin: 0px !important;
    }
  }



  #sidebar{
    .p-sidebar-header{
      background: #fafafa;
      padding: 16px 24px !important;
      color: #000000D9 !important;
      border-bottom: 1px solid #e8e8e8;
      font-size: 18px;
      font-weight: 500;
    }
    .p-sidebar-content{
        padding: 24px !important;
        font-weight: 400;
    }
    .p-sidebar-footer{
        width: 100%;
        border-top: 1px solid rgb(233, 233, 233);
        padding: 10px 16px !important;
        background: rgb(244, 244, 244);
        z-index: 1;
        .btn-wrapper{
            display: flex;
            gap: 30px;
            justify-content: flex-end;;
        }
    }
} 

.textinput{
    .p-dropdown{
        width: 100% !important;
        box-shadow: none;
    }
    .p-calendar {
        width: 100% !important;
    }
    input{
        box-shadow: none;
    }

}